<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="FacebookAppId" value="324768764656892"/>
    <add key="FacebookAppSecret" value="49a4ecf1414399c14f8487bede5f75d0"/>
  </appSettings>